<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Limmy Clock</title>
</head>

<body>
    <div class="container">
        <p>HELLO</p>
        
        <audio id="10h" src='10h.wav'></audio>
        <audio id="10m" src='10m.wav'></audio>
        <audio id="11h" src='11h.wav'></audio>
        <audio id="12h" src='12h.wav'></audio>
        <audio id="1h" src='1h.wav'></audio>
        <audio id="20m" src='20m.wav'></audio>
        <audio id="25m" src='25m.wav'></audio>
        <audio id="2h" src='2h.wav'></audio>
        <audio id="3h" src='3h.wav'></audio>
        <audio id="4h" src='4h.wav'></audio>
        <audio id="5h" src='5h.wav'></audio>
        <audio id="5m" src='5m.wav'></audio>
        <audio id="6h" src='6h.wav'></audio>
        <audio id="7h" src='7h.wav'></audio>
        <audio id="8h" src='8h.wav'></audio>
        <audio id="9h" src='9h.wav'></audio>
        <audio id="comingupfor" src='comingupfor.wav'></audio>
        <audio id="half" src='half.wav'></audio>
        <audio id="intro" src='intro.wav'></audio>
        <audio id="justleft" src='justleft.wav'></audio>
        <audio id="past" src='past.wav'></audio>
        <audio id="quarter" src='quarter.wav'></audio>
        <audio id="to" src='to.wav'></audio>

    </div>
</body>

</html>